* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
main {
  padding: 15px;
}

#displayStudents {
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.pic {
  border-radius: 100%;
  object-fit: cover;
  height: 200px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
.box {
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  background-color: cadetblue;
  border-radius: 20px;
}

.contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5px;
}

.contactInfo a {
  color: white;
  text-decoration: none;
  display: block;
}

.editBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.popup {
  width: 80%;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.studentInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.studentInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  padding: 30px;
  font-size: 33px;
  cursor: pointer;
}

.icon {
  width: 25px;
}
