* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
header {
  height: 100px;
  background-color: red;
}
footer {
  height: 50px;
  background-color: green;
}
main {
  background-color: black;
}

#displayStudents {
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}

.pic {
  border-radius: 100%;
  width: 150px;
  height: 100px;
}

.box {
  background-color: gray;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  position: relative;
}

.contactInfo {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: black;
  width: 50%;
}

.contactInfo a {
  color: white;
  text-decoration: none;
}

.editIcon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
